In [1]:
""" Python code in order to predict TI/SE

Methods :
1. When a target is presented in the form of a KEGG ID, the hsa map associated with it is retrieved.
2. Build that hsa map as a network and search for relevant Paths.
3. Calculate the Levenshtein ratio with the feature Paths, and for each feature, get the vector of maximum values of (1 - Levenshtein ratio).
4. Input the vector of maxima into each TI/SE model and produce the result. (Threshhold should be modifiable.)

"""

get_ipython().run_line_magic('load_ext', 'autoreload')
get_ipython().run_line_magic('autoreload', '2')

from KEGG_Based_TI_SE_Predict_Model_functions import *
import pandas as pd
import time
import warnings
warnings.simplefilter('ignore')

t1 = time.time() 
df_KEGG_ID = pd.read_csv("../12_input_to_LGBM/KEGG_ID.csv", header=0)
Threshhold = 0.5

df_TI = TI_Prediction_From_TARGET(df_KEGG_ID, Threshhold)
df_TI.to_csv('../14_output_from_LGBM/TI_Prediction_Method_B.csv')
df_SE = SE_Prediction_From_TARGET(df_KEGG_ID, Threshhold)
df_SE.to_csv('../14_output_from_LGBM/SE_Prediction_Method_B.csv')
t2 = time.time() 
elapsed_time = t2-t1
print(f"経過時間：{elapsed_time}")

経過時間：624.0377759933472

In [2]:
df_TI

                                      1839
TI_name
ADHF                              0.000000
Abdominal bloating                0.380435
Abdominal cramps                  0.000000
Abdominal distension              0.000000
Abdominal distress                0.000000
...                                    ...
Weight increased                  0.239130
White blood cell count decreased  0.000000
Withdrawal symptom                0.086957
Wolff-Parkinson-White syndrome    0.000000
Worry                             0.260870

[1168 rows x 1 columns]

In [3]:
df_SE

                                 1839
SE_name
Acute hepatic failure        0.010870
Acute liver damage           0.000000
Acute liver injury           0.000000
Acute renal insufficiency    0.010870
Adrenal haemorrhage          0.000000
...                               ...
Suicidal tendency            0.000000
Suicide                      0.043478
Suicide attempt              0.000000
Uterine cancer               0.086957
Venoocclusive liver disease  0.000000

[176 rows x 1 columns]