# 4_2_Clustering_SE.ipynb
Create data.

### input
- 3_Calc_Edit_Distance/output/Calc_Edit_Distance.csv.gz : A file that calculates the edit distance between Paths

### output
- 4_Feature_extraction_PCA/output/Feature_extraction.npz : A file that select features such that (1 - Levenshtein ratio) between paths from different KEGG pathways is greater than 0.3 for at least one of them from 'Calc_Edit_Distance.csv'

In [1]:
import pandas as pd
from scipy.sparse import csr_matrix
from scipy.sparse import save_npz, load_npz
from sklearn.model_selection import train_test_split
import pickle
import math
import random
import numpy as np
from scipy.stats import spearmanr
from scipy.cluster import hierarchy
from scipy.spatial.distance import squareform

In [2]:
y = pd.DataFrame(load_npz('../9_Integration_SE_TI_Target_datafile/Y_binary_TI.npz').toarray())

In [3]:
df_t = pd.read_csv('output/Target_sub_cluster.csv',header = 0, index_col=0).drop(columns = 'index')

In [4]:
ti_use = pd.read_csv('../7_Target_Drug_SE_TI_from_SIDER_DrugBank/Train_Test_count_TI.csv', header = 0, index_col=0)
ti_use = ti_use[ti_use['use_ID']==1]

In [5]:
train_id, test_id = train_test_split(pd.DataFrame(range(67481)), test_size=0.1, random_state = 0)

In [6]:
df_cluster = pd.DataFrame()
for i in ti_use['ID']:
    X_train_m = load_npz('../5_X_train_test_datafile/X_Feature_Extraction/train/X_train_TI_'+ str(i) +'.npz').toarray()
    
    X_test_m = load_npz('../5_X_train_test_datafile/X_Feature_Extraction/test/X_test_TI_'+ str(i) +'.npz').toarray()
    
    y_index = pd.DataFrame(y[y[i]==1].index).rename(columns = {0:'ID'})
    y_index['ID_sub'] = y_index['ID'].rank(method='dense') - 1
    
    df2 = pd.merge(y_index, df_t, left_on = 'ID', right_on = 'down_index_new_0').drop(columns = 'down_index_new_0')
    sub_n = len(df2[['HSA', 'sub_ID']].drop_duplicates())
    df1 = df2.groupby(['sub_ID', 'HSA']).apply(lambda x: x.sample(n=min(math.ceil(500/sub_n), len(x)), random_state=0)).reset_index(level=['HSA','sub_ID'], drop=True).sort_values('ID_sub')
    train = pd.DataFrame(X_train_m)[list(df1['ID_sub'])]
    test = pd.DataFrame(X_test_m)[list(df1['ID_sub'])]
    save_npz('../5_X_train_test_datafile/train/X_train_Clustering_TI_'+ str(i) +'.npz', csr_matrix(train))
    save_npz('../5_X_train_test_datafile/test/X_test_Clustering_TI_'+ str(i) +'.npz', csr_matrix(test))
    df1['TI_ID'] = i
    df1['TI_count'] = len(df1.dropna())
    df_cluster = pd.concat([df_cluster, df1])
        
    df_cluster = df_cluster.reset_index(drop = True)

In [7]:
df_cluster

,ID,ID_sub,sub_ID,HSA,TI_ID,TI_count
0,2976,1.0,2,"[135, 153, 154, 1812, 1816, 2492, 2740, 3360, ...",0,112
1,2977,2.0,2,"[135, 153, 154, 1812, 1816, 2492, 2740, 3360, ...",0,112
2,2980,5.0,3,"[135, 153, 154, 1812, 1816, 2492, 2740, 3360, ...",0,112
3,2981,6.0,2,"[135, 153, 154, 1812, 1816, 2492, 2740, 3360, ...",0,112
4,2982,7.0,2,"[135, 153, 154, 1812, 1816, 2492, 2740, 3360, ...",0,112
...,...,...,...,...,...,...
215540,55823,62.0,4,[5241],1679,67
215541,55824,63.0,3,[5241],1679,67
215542,55825,64.0,3,[5241],1679,67
215543,55826,65.0,3,[5241],1679,67
215544,55827,66.0,3,[5241],1679,67

In [8]:
df_cluster.to_csv('output/TI_Feature_Cluster_ID.csv')